body{background: url("Simple Background Illustration Design.png");
background-size: 100%;
}


.container{
	text-align: center;
	margin-top: 50px;
}

.container h1{font-family: 'Cantata One', serif;
font-size: 50px;
}
.container h2{font-family: 'Sacramento', cursive;
font-size: 43px;
}

table{
	width: 100%;
}

button{padding: 5px 25px 5px 25px;
	background-color: #FDEDEC;
}

button:hover{ background-color: #F5EEF8; transition: 1s;
}

th{
	background-color: #F5B7B1;
}
tr{
	background-color: #FBEEE6;
}
input{
	background-color: #F8F9F9;
}